.App {
    width: 60%;
    height: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    align-items: center;
    border: 1px solid darkblue;
    border-radius: 5px;

}